* {
    box-sizing: border-box;
}

.container {
    font-family: "Lato", sans-serif;
}

.divider {
    background-color: #7d97ad;
    height: 3px;
    margin: 10px 0;
}

.profile-logo {
    border-radius: 50%;
    margin: 15px;
    max-height: 90px;
    max-width: 90px;
}

.project-tile {
    margin-bottom: 20px;
    text-align: center;
}

.project-image {
    margin: auto;
}

.featured-work {
    color: #7d97ad;
    font-weight: bolder;
    margin: 20px 0 20px 30px;
}

.description-text {
    padding: 15px;
}